@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    background: lightcyan;
    display: flex;
    flex-flow: wrap;
    height: 200px;
}

.item{
    background: lightcoral;
    border: 1px solid;
    text-align: center;
    margin: 4px;
    flex: 1;
}

.i1{
    flex-basis: 700px;
    flex-shrink: 3;
}
.i2{
    flex-basis: ;
}
.i3{
   flex-basis: ;
}
.i4{
    flex-basis: ;
}
.i5{
   flex-basis: ;
}
.i6{
    flex-basis: ;   
}
.i7{
   flex-basis: ; 
}