@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    margin: 20px 0 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-bottom: 15px;
}

section{
    text-align: center;
    padding: 20px;
    margin: 0 auto 40px auto;
    max-width: 500px;
}

section > div{
    border: 1px solid black;
}

section > div div{
    background-color: tomato;
    margin: 5px;
    padding: 5px;
    font-size: 1.3em;
    font-weight: bold;
}


/* CSS FLEXBOX */

#display-flex-normal{
    display: flex;
}

#display-flex-nowrap{
    display: flex;
    flex-wrap: nowrap;
}

#display-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

#display-flex-flex{
    display: flex;
}

#display-flex-flex div{
    flex: 1;
}

