@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --verde: green;
    --roxo: purple;
    --laranja: orange;
    --amarelo: yellow;
    --azul: blue;
}

h1{
    text-align: center;
    padding: 20px;
}

#container{
    border: 1px solid black;
    margin: 30px auto;
    max-width: 500px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#container > div{
    padding: 5px;
    margin: 2px;
}

.verde{
    background-color: var(--verde);
}

.roxo{
    background-color: var(--roxo);
}

.laranja{
    background-color: var(--laranja);
}

.amarelo{
    background-color: var(--amarelo);
}

.azul{
    background-color: var(--azul);
}

