@charset "UTF-8";

/* Typical Devices Breakpoints
----------------------------------
    Pequenas telas: até 600px
    Celular: de 601px até 768px
    Tablet: de 769px até 992px
    Desktops: de 993px até 1200px
    Grandes telas: acima de 1200px
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #121111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    /* Alinha na horizontal */
    align-items: center;
    /* Alinha na vertical */
    padding: 20px 10px;
    color: white;
}

header span{
    cursor: pointer;
    padding: 10px;
}

#imenu{
    display: none;
}

#imenu li{
    display: inline-flex;
    margin-left: 5px;
}

#imenu a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#imenu a:hover{
    text-decoration: underline;
    transform: scale(105%);
}

main h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}



/* CSS FLEXBOX 1 */

section#fb{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

section#fb div{
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px; */

    /* shorthand:
        flex-grow > flex-shrink > flex-basis
    */
    flex: 1 1 300px;
    margin: 5px;
}

section#fb img{
    width: 100%;
    display: block;
}

section#fb div > p{
    font-size: 1.1em;
    padding: 5px;
}