@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body > section:nth-child(2n){
    background-color: #ececec;
}

section{
    padding: 40px 0;
}

section > h1{
    text-align: center;
    padding: 0 10px;
}

section > div{
    margin: 20px auto;
    max-width: 500px;
    text-align: center;
    border: 1px solid;
    background: white;
}

section > div > div{
    background: tomato;
    margin: 5px;
    padding: 8px;
    font-size: 1.25rem;
    font-weight: bold;
}
/* Configurações Gerais */


section > div{
    height: calc(5*70px);
}

section.ac-s > div{
    display: grid;
    grid-template: repeat(3, 70px) / repeat(3, 1fr);
}

.i2{
    grid-row: span 2;
}

.i3{
    grid-row: span 2;
}

.i5{
    grid-column: span 2;
}

section.ac-e > div{
    display: grid;
    grid-template: repeat(3, 70px) / repeat(3, 1fr);
    align-content: end;
}

section.ac-c > div{
    display: grid;
    grid-template: repeat(3, 70px) / repeat(3, 1fr);
    align-content: center;
}

section.ac-st > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: stretch;
}

section.ac-sa > div{
    display: grid;
    grid-template: repeat(3, 70px) / repeat(3, 1fr);
    align-content: space-around;
}

section.ac-sb > div{
    display: grid;
    grid-template: repeat(3, 70px) / repeat(3, 1fr);
    align-content: space-between;
}

section.ac-se > div{
    display: grid;
    grid-template: repeat(3, 70px) / repeat(3, 1fr);
    align-content: space-evenly;
}