html{
    font-family: sans-serif;
}
div{
    display: flex;
    align-items: center;
}
.header{
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    justify-content: space-between;
    box-shadow: 1px 1px 4px gray;
    margin: -8px;
}
nav{
    display: flex;
    flex-direction: column;
}
img{
    width: 35px;
    height: 35px;
    margin-bottom: 18px;
}
a{
    text-decoration: none;
    color: gray;
}
.ln{
    margin-left: 5px;
}
nav{
    margin-right: 5px;
}