@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@keyframes btldgspn{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
        border-color: transparent;
    }
}

@keyframes carregado{
    from{
        background-color: lightgray;
    }
    to{
        background-color: rgb(66, 255, 66);
    }
}

@keyframes check{
    from{
        opacity: 0;
    } 
    to{
        opacity: .4;
    }
}

@keyframes h2{
    from{
        margin-left: -30px;
        opacity: .6;
    }
    to{
        margin-left: 20px;
        opacity: 1;
    }
}

@keyframes after{
    0%{
        left: -15px;
    }
    50%{
        left: 0;
        width: 110px;
    }
    100%{
        left: -10px;
        width: 100px;
    }
}

@keyframes bf{
    0%{
        bottom: 0;
        box-shadow: 10px 20px 15px rgba(0, 0, 0, .3);
    }
    100%{
        bottom: 30px;
        box-shadow: 20px 50px 35px rgba(0, 0, 0, .3);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    padding: 20px 0 40px;
}

section + section{
    margin-top: 80px;
}

h2{
    position: relative;
    animation: 0.5s h2 ease-in both;
    padding: 30px 0 60px 0;
}

h2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 55px;
    height: 3px;
    width: 30px;
    background-color: rgb(25, 25, 255);
    animation: 1s after 0.5s ease both;
}

div.btn-vfct{
    display: grid;
    place-items: center;
}

div.btn-vfct > button{
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 3px;
    cursor: pointer;
    display: grid;
    place-items: center;
    position: relative;
    animation: 1s carregado 1s both;
}

div.btn-vfct > button > div.ldg-spn{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 3px solid rgb(255,255,255);
    border-right-color: transparent;
    border-radius: 50%;
    animation: 1.5s btldgspn both;
}

img{
    position: absolute;
    width: 40px;
    animation: .5s check 1.5s both;
}

div.fb{
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: lightgray;
    animation: 2s bf 0s ease-in-out infinite alternate;
}

div.anim-rdc{
    display: grid;
    place-items: center;
}

div.pneu{
    width: 200px;
    height: 200px;
    border: 25px solid black;
    border-radius: 50%;
    position: relative;
}

div.calota{
    width: 130px;
    height: 130px;
    border: 10px solid black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.ldc{
    width: 30px;
    height: 30px;
    border: 10px solid black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.ldc::before{
    content: '';
    width: 50px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-110%, -50%);
}

div.ldc::after{
    content: '';
    width: 50px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(10%, -50%);
}

div.ldc2{
    width: 30px;
    height: 30px;
    border: 10px solid black;
    border-radius: 50%;
    position: absolute;
    left: 37%;
    top: 36.5%;
    /*transform: translate(0%, -60%);*/
    transform: rotate(270deg);
}

div.ldc2::before{
    content: '';
    width: 50px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-110%, -50%);
}

div.ldc2::after{
    content: '';
    width: 50px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(10%, -50%);
}