@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* GERAL SETTINGS */

input[type=text]:focus{
    outline: solid 3px red;
    color: blue;
}

input[type=text]::placeholder{
    text-decoration: underline;
    color: green;
}

input[type=text]:hover{
    outline: solid 3px grayxxxxxxxdd;
}