@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    padding: 20px;
}

#container{
    border: 1px solid black;
    margin: 30px auto;
    max-width: 500px;
    height: 200px;

    display: flex;
    justify-content: space-between;
}

#container > div{
    padding: 5px;
    background-color: tomato;
}

