@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    margin: 20px 0 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-bottom: 15px;
}

section{
    text-align: center;
    padding: 20px;
    margin: 0 auto 40px auto;
    max-width: 300px;
}

section > div{
    border: 1px solid black;
    display: flex;
}

section > div div{
    background-color: tomato;
    margin: 5px;
    padding: 2px;
    font-size: 1.3em;
    font-weight: bold;
}



/* CSS FLEXBOX */


section > div > div:nth-child(1){
    padding-top: 20px;
}

.ai-s{
    display: flex;
    align-items: stretch;
}

.ai-fs{
    display: flex;
    align-items: flex-start;
}

.ai-fe{
    display: flex;
    align-items: flex-end;
}

.ai-c{
    display: flex;
    align-items: center;
}

.ai-bl{
    display: flex;
    align-items: baseline;
}

.ai-s-c{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.ai-fs-c{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.ai-fe-c{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.ai-c-c{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ai-bl-c{
    display: flex;
    align-items: baseline;
    flex-direction: column;
}


/* Alinhamento central */

.al-centro{
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    height: 300px;
    width: 300px;
}


.al-centro div{
    width: 200px;
}
