@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.container{
    background: lightcyan;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.item{
    background: lightcoral;
    border: 1px solid;
    text-align: center;
    margin: 4px;
    padding: 20px;
    height: 400px;
    width: 200px;
    border-radius: 20px;
}