@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* GERAL SETTINGS */

#pai{
    color: red;
    text-align: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
}

.filho{
    all: initial;
}